# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**

- List popular languages for Data Science  
- Identify commonly used Data Science libraries  
- Explore popular Data Science tools  
- Examples of evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:
1. **Python**
2. **R**
3. **SQL**
4. **Julia**
5. **Scala**

### Some of the commonly used libraries used by Data Scientists include:

1. **NumPy**
2. **Pandas**
3. **Matplotlib**
4. **Scikit-learn**
5. **TensorFlow**
6. **Seaborn**

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio           |
| Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

Saiful Islam Rupom